@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?8hrgy4');
  src:  url('../fonts/icomoon.eot?8hrgy4#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?8hrgy4') format('truetype'),
    url('../fonts/icomoon.woff?8hrgy4') format('woff'),
    url('../fonts/icomoon.svg?8hrgy4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
  content: "\ea92";
}
.icon-telegram:before {
  content: "\ea95";
}
.icon-github:before {
  content: "\eab0";
}
